/* 08.28 추가본 start */
	a {
	text-decoration : none;
	}
	
    .cwa-top dd {
        padding-top: 30px;
        width: 220px;
        height: 280px;
        text-align: right;
        float: right;
    }

    .cwa-top dd a span {
        display: block;
        text-align: center;
        font-size: 17px;
        color: #fff;
        background: #ed1839;
        line-height: 53px;
        height: 53px;
    }

    .cwa-top dd img {
        width: 220px;
        height: 280px;
    }

    .cwa-top dt {
        display: inline-block;
    }

    /* 08.28 추가본 end */

/* 08.27 추가본 start */
    .cwa-top dt ul li span.tit {
        width: 65px;
        height: 30px;
        color: #a3a3a3;
        border-bottom: 1px solid #2e2e2e;
        padding-left: 0;
    }

    .cwa-top dt ul li {
        list-style-type: none;
    }

    .cwa-top dt ul li span {
        font-size: 14px;
        color: #fff;
        display: table-cell;
        vertical-align: middle;
        padding-left: 23px;
    }

    .cwa-top dt ul li:first-child span.tit {
        border-top: 1px solid #2e2e2e;
    }

    .cwa-top dt .title {
        margin-top: 25px;
        color: #fff;
        font-size: 17px;
    }

    .area.show-view-top {
        width: 90%;
        padding-bottom: 20px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .cwa-top {
        padding: 48px 0 0;
        min-height: 496px;
        background: url(../images/sac_intro.gif) no-repeat center top;
        background-size: cover !important;
    }

    .cwa-top.bg-box {
        height: auto;
        min-height: auto;
        padding: 0;
    }

    .cwa-top.bg-box.style2 {
        text-align: center;
    }

    .cwa-top.bg-box .sub-top-bg {
        width: 98%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 80px 0;
    }

    .cwa-top.bg-box .sub-top-bg>h3.tit {
        color: #fff;
        font-size: 3em;
        font-weight: 100;
    }

    /* 08.27 추가본 end */
    
    
    
     /* 08.26 추가본 */


    .tb-align {
        text-align: center;
        font-size: 17px;
    }

    .tb-align td {
        padding: 25px 10px;
    }

    .tb-align span {
        font-weight: bold;
        font-size: 20px;
    }

    .tb-align p {
        margin: 0px;
    }

    .idee-text-con .data {
        font-size: 15px;
        color: #9f7c45;
    }

    .idee-text-con .name {
        top: -25px;
        left: calc(50% - 88px);
        position: absolute;
        width: 176px;
        font-size: 27px;
        font-weight: bold;
        color: #222;
        background: #fff;
        display: inline-block;
    }

    .idee-bg.style2 {
        background: url(../show_view/idee-bg_bg2.gif) no-repeat center top;
    }

    .idee-bg {
        padding: 70px 10px;
        min-height: 150px;
        text-align: center;
        color: #fff;
        background: url(../show_view/idee-bg_bg.gif) no-repeat center top;
        background-size: cover !important;
    }

    .idee-text-con {
        padding: 90px 10px 20px;
        min-height: 565px;
        position: relative;
        margin-top: 80px;
        text-align: center;
        background: url(../show_view/idee-text-con_bg.png) no-repeat center top;
        border: 9px solid #f8efe8;
    }
    /* 08.26 추가본 */
    
    .gray-con {
        padding: 20px;
        background: #f2f2f2;
    }

    .cwa-text {
        padding: 30px;
        background: #fff;
        overflow: auto;
        line-height: 25px;
    }

    .office-num {
        display: table;
        margin: 0 auto 20px;
    }

    .office-history {
        padding: 35px 20px;
    }

    .office-history>h3>strong {
        display: inline-block;
        font-weight: 600;
    }

    h3>.break-line {
        font-size: 24px;
        margin-top: 5px;
        display: block;
    }

    .office-history>p {
        color: #878787;
        font-size: 18px;
        font-weight: inherit;
    }

    .office-num>* {
        display: table-cell;
        vertical-align: middle;
    }

    .office-num>.img {
        width: 102px;
    }

    .office-num>.word {
        padding-left: 20px;
    }

    /* �옣�냼 �냼媛� */
    .word>ul {
        padding-left: 15px;
    }

    .word>ul>li {
        padding: 0px;
    }

    /* �뿬諛깆쓽 誘� */
    .blank_10 {
        height: 10px;
    }

    .blank_20 {
        height: 20px;
    }

    .blank_30 {
        height: 30px;
    }

    .blank_40 {
        height: 40px;
    }

    .blank_50 {
        height: 50px;
    }

    .blank_60 {
        height: 60px;
    }

    .blank_70 {
        height: 70px;
    }

    .blank_80 {
        height: 80px;
    }

    .seat-num {
        display: table;
        width: 100%;
        border-top: 1px solid #c6c6c6;
    }

    .seat-num {
        list-style-type: none;
        padding: 0px;
    }

    .seat-num>li:first-child {
        border-top: 0;
        border-left: 0;
    }

    .seat-num>li {
        display: table-cell;
        vertical-align: middle;
        padding: 25px 10px;
        width: 33%;
        text-align: center;
        border-left: 1px solid #c6c6c6;
        list-style-type: none;
    }

    .seat-num .list-ping-bgfang {
        margin-top: 5px;
    }

    .seat-num .list-ping-bgfang>li {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 5px 20px 0 !important;
    }

    .list-ping-bgfang>li {
        position: relative;
        padding-left: 16px;
        margin-top: 5px;
    }
    
    .cwa-text>.row>.col-2 {
        min-width: 103px;
    }

    .cwa-text>.row>.col-2>a>span {
        display: table-cell;
        height: 103px;
        line-height: 20px;
        vertical-align: middle;
        color: #ed1839;
        font-size: 17px;
    }

    .cwa-text>.row>.col-2>a {
        display: table;
        position: relative;
        right: 0;
        top: 0;
        height: 103px;
        text-align: center;
        width: 103px;
        border: 1px solid #ed1839;
        border-radius: 57px;
        text-decoration: none;
        float: right;
    }

    .intro-ft {
        text-align: center;
    }

    .intro-ft a {
        text-decoration: none;
        font-size: 17px;
        padding: 15px 30px;
        color: red;
        border: 1px solid red;

    }

    .cwa-t-b-imglist {
        background: #f2f2f2;
        padding: 30px 20px;
        margin-top: 20px;
        overflow: hidden;
    }

    .cwa-text>div>div>div>span.tit {
        border-top: 7px solid #f2f2f2;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        padding-top: 10px;
        display: block;
        margin-bottom: 30px;
        margin-top: 10px;
    }